<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grading.system.mapper.GradingContentMapper">
    <select id="listGradingContentByGradingId" resultType="com.grading.system.model.bo.GradingContentMeta">
        select gtm.code        as titleCode,
               gc.content      as content,
               gc.system_value as systemValue,
               gc.row_id       as rowId,
               gc.merge_column,
               gc.merge_row,
               gc.id           as contentId
        from grading_content_rel gcr
                 left join grading_content gc on gcr.content_id = gc.id
                 left join grading_template_meta gtm on gc.template_meta_id = gtm.id

        where gcr.grading_id = #{gradingId}
        <if test="titleMetaCodes != null and titleMetaCodes.size() != 0">
            and gtm.code in
            <foreach collection="titleMetaCodes" open="(" close=")" item="code" separator=",">
                #{code}
            </foreach>
        </if>
    </select>
</mapper>