<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grading.system.mapper.GradingContentRelMapper">
    
    <resultMap type="GradingContentRel" id="GradingContentRelResult">
        <result property="id"    column="id"    />
        <result property="gradingId"    column="grading_id"    />
        <result property="contentId"    column="content_id"    />
    </resultMap>

    <sql id="selectGradingContentRelVo">
        select id, grading_id, content_id from grading_content_rel
    </sql>

    <select id="selectGradingContentRelList" parameterType="GradingContentRel" resultMap="GradingContentRelResult">
        <include refid="selectGradingContentRelVo"/>
        <where>  
            <if test="gradingId != null "> and grading_id = #{gradingId}</if>
            <if test="contentId != null "> and content_id = #{contentId}</if>
        </where>
    </select>
    
    <select id="selectGradingContentRelById" parameterType="Long" resultMap="GradingContentRelResult">
        <include refid="selectGradingContentRelVo"/>
        where id = #{id}
    </select>

    <insert id="insertGradingContentRel" parameterType="GradingContentRel" useGeneratedKeys="true" keyProperty="id">
        insert into grading_content_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gradingId != null">grading_id,</if>
            <if test="contentId != null">content_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gradingId != null">#{gradingId},</if>
            <if test="contentId != null">#{contentId},</if>
         </trim>
    </insert>

    <update id="updateGradingContentRel" parameterType="GradingContentRel">
        update grading_content_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="gradingId != null">grading_id = #{gradingId},</if>
            <if test="contentId != null">content_id = #{contentId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGradingContentRelById" parameterType="Long">
        delete from grading_content_rel where id = #{id}
    </delete>

    <delete id="deleteGradingContentRelByIds" parameterType="String">
        delete from grading_content_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>