<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grading.system.mapper.GradingContentDetailMapper">
    <select id="listUserGradingUser" resultType="com.grading.system.model.bo.GradingUserScore">
        select gtm.name as gradingName, su.nick_name as userName, a.content as title, gcd.id as contentId, gcd.score
        from grading g
                 left join sys_user su on su.user_id = g.user_id
                 left join grading_content_rel gcr on g.id = gcr.grading_id
                 left join grading_content gc on gc.id = gcr.content_id
                 left join grading_content_detail gcd on gcd.content_id = gc.id
                 left join grading_template_meta gtm on gtm.id = gc.template_meta_id
                 left join (
            select c.row_id, c.content
            from grading g2
                     left join grading_content_rel r on g2.id = r.grading_id
                     left join grading_content c on r.content_id = c.id
                     left join grading_template_meta m on m.id = c.template_meta_id
            where g2.id = #{gradingId}
              and m.sort = 0
        ) a on a.row_id = gc.row_id
        where g.id = #{gradingId}
          and gc.system_value = 0
        <if test="userId != null">
            and gcd.grading_user_id = #{userId}</if>
        order by  gtm.sort,gc.row_id asc
    </select>
</mapper>